header{
    background-color: #7C5E99;
}
nav{
    /* display: inline-block; */
    background-color: red;
    text-align: right;
}
span, a{
    display: inline;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    /* margin-right: 30px; */
}
#download_cv_button{    
    display: inline;
    background-color: #F25A70;    
    color: white;
    display: inline-block;
    border: 10px solid green;
    height: 60px;
    line-height: 60px;
    padding: 18px 20px 18px 20px;
    box-shadow: 5px 5px 0 black;
}