.about_section{
    position: relative;
    background-color: #24484d;
    border-top: 13px solid black;
    padding-bottom: 130px;
}

.about_div{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;    
    text-align: center;
}

.about_div_horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.about_paragraph{
    font-size: 25px;
}


.timeline{
    width: 95%; 
    height: 4px;   
    background-color: white;
}

.timeline_dots{
    width: 0.3%;
    height: 4px;   
    background-color: white;
}


