.form_section{    
    border-top: 13px solid grey;
    background-color: #4d2434;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 3%;
}

.form_field label{
    text-align: left;
    display: block;
    color: white;
    font-family: "Fira Code", Arial;
}

.form_field input{
    display: block;
    
}



