.skills_section{
    position: relative;
    background-color: grey;
    border-top: 13px solid black;
    padding-bottom: 75px;
}

.skills_section .box_standard{
    margin: 0px;
    padding: 30px;
}

.skills_section .skills_div_column{
    display: flex;    
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: row;
}

.skill_bar{
    box-sizing: border-box;
    width: 50%;
    color: white;
    font-family: "Press Start 2P", monospace;
    font-weight: 1000;
    font-size: 20px;
    display: block;    
    position: relative;
    text-shadow: 5px 5px 0 black;
    margin-top: 1%;
    margin-bottom: 3%;
}

.skill_bar:nth-child(odd){
    left: 40%;
}

.skill_bar:nth-child(even){
    left: 5%;
}

.skill_bar::before{
    position: absolute;
    zoom: 0.55;
    left: -120px;
    top: -10%;
}

.skill_bar::after{
    content: " ";
    background-color: #3E567C;
    position: absolute;
    display: block;
    height: 13px;
    margin-right: auto;
    margin-top: 13px;
    border-style: solid;
    border-color: white;
    border-right-width: 180px;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    box-shadow:  0 0 0 0.1em black; 
}

#html5_bar::before{
    content: url("/img/ico_html5.png");
    position: absolute;
    zoom: 0.55;
    left: -120px;
    top: -0%;
}

#html5_bar::after{    
    width: 20px;    
}

#css_bar::before{
    content: url("/img/ico_css3.png");
}

#css_bar::after{
    width: 20px;
}

#js_bar::before{
    content: url("/img/ico_js.png");
}

#js_bar::after{
    width: 20px;
}

#node_bar::before{
    content: url("/img/ico_nodejs.png");
}

#node_bar::after{
    width: 20px;
}

#react_bar::before{
    content: url("/img/ico_react.png");
}

#react_bar::after{   
    width: 20px;   
}