.box_standard {    
    color: white;
    font-family: "Press Start 2P", monospace;
    font-weight: 1000;
    font-size: 25px;
    display: block;    
    position: relative;
    text-align: center;
    margin: 20px;
    text-shadow: 5px 5px 0 black;
}